/* src/App.css */
.app-container {
  width: 100vw;
  height: 100vh;
  background-color: #f0f8ff; /* Fondo claro */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.app-header {
  width: 100%; /* Abarca todo el ancho de la pantalla */
  background-color: #bde0fe; /* Color pastel */
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between; /* Separar los elementos dentro de la barra */
  align-items: center;
}

.add-note-button {
  background-color: #ffadd2; /* Color pastel */
  border: none;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 50px; /* Ajusta este valor para mover el botón */
  transition: background-color 0.3s ease;
  font-size: 1em;
}

.add-note-button:hover {
  background-color: #ff6f91; /* Color de fondo al hacer hover */
}

.app-header h1 {
  margin: 0;
  font-size: 1.8em;
  color: #333;
  margin-left: 50px;
} 